---
// src/pages/maintenance.astro
---


  <div class="min-h-screen flex flex-col items-center justify-center text-center px-4">
    <h1 class="text-5xl font-bold text-blue-600 mb-4">We are creating a webpage!</h1>
    <p class="text-xl text-gray-600 max-w-md">
      The Mulbadaw Farm website is currently under construction.
    </p>
  </div>
