---
// src/pages/en/projects/LivingLab.astro
import ProjectDetailLayout from '../../../layouts/ProjectLayout.astro';
---

<ProjectDetailLayout 
  title="Solar Power Initiative" 
  image="/images/solar.jpg" 
  lang="en"
>
  <p>This project aims to provide clean energy to over 500 households...</p>
  
  <h2>Our Impact</h2>
  <p>By installing these panels, we have reduced carbon emissions by...</p>
  
  <img src="/images/impact-chart.jpg" alt="Impact Chart" />
</ProjectDetailLayout>