---
// src/pages/en/projects/LivingLab.astro
import ProjectDetailLayout from '../../../layouts/ProjectLayout.astro';
---

<ProjectDetailLayout 
  title="Jambo Maisha" 
  image="/images/JamboMaishaCard.jpg"
  lang="en"
>
  <p>This project is a part of the living labs initiative.</p>
  
  <h2>Project Details</h2>


  <p>Using digital technologies to empower local farmers and improve their livelihoods.</p>
  
</ProjectDetailLayout>